<div class="col-md-12 graphs">
  <div class="xs">
    <h3>Thông tin người dùng</h3>
    <div class="well1 white">
      <form
        class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern"
        novalidate="novalidate" ng-submit="submit()">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Họ và tên</label>
            <input type="text" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name"
              required="" value="Nguyễn Tuấn Đạt">
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched"
              ng-model="model.email" required="" value="ntdat.origin@gmail.com">
          </div>
          <div class="form-group">
            <label class="control-label">SĐT</label>
            <input type="text" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.text"
              required="" value="090.712.8460">
          </div>
          <div class="form-group">
            <label class="control-label">Địa chỉ</label>
            <input type="text" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.text"
              required="">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <button type="reset" class="btn btn-default">Hủy</button>
          </div>
        </fieldset>
      </form>
      <h3>Lịch sử giao dịch</h3>
      <div class="bs-example4" data-example-id="contextual-table">
        <table class="table">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên sản phẩm</th>
              <th>Giá sản phẩm</th>
              <th>Thời gian giao dịch</th>
              <th>Tình trạng đơn hàng</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Giao dịch thành công</td>
            </tr>
            <tr class="danger">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Khách hàng đã hủy</td>
            </tr>
            <tr class="">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Giao dịch thành công</td>
            </tr>
            <tr class="info">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Đang vận chuyển</td>
            </tr>
            <tr class="">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Giao dịch thành công</td>
            </tr>
            <tr class="warning">
              <th scope="row">382381010</th>
              <td>Điện thoại Iphone 11 Pro Max</td>
              <td>60.000.000₫</td>
              <td>13/10/2019</td>
              <td>Đợi nhập hàng</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="copy_layout">
    <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/"
        target="_blank">W3layouts</a> </p>
  </div>
</div>