<div class="col-md-12 graphs">
  <div class="col-md-12 stats-info stats-info1">
    <div class="panel-heading">
      <h3>Top 10</h3>
    </div>
    <div class="panel-body panel-body2">
      <ul class="list-unstyled">
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
        <li>Iphone 11 Pro Max<div class="text-success pull-right">1.023</div>
        </li>
    </div>
    </li>
    </ul>
  </div>
</div>
<div class="clearfix"> </div>
</div>