<div class="col-md-12 graphs">
  <div class="xs">
    <h3>Danh sách người dùng</h3>
    <div class="bs-example4" data-example-id="contextual-table">
      <table class="table table-striped w-auto">
        <thead>
          <tr>
            <th>#</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Username</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <th scope="row">10</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">11</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">12</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">13</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">14</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="danger">
            <th scope="row">15</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">16</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="warning">
            <th scope="row">17</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
          <tr class="">
            <th scope="row">18</th>
            <td>Nguyễn Tuấn Đạt</td>
            <td>Nam</td>
            <td>ntdat.origin@gmail.com</td>
            <td>ntdat1999</td>
            <td>090.712.8460</td>
            <td>666/44 Ba Tháng Hai, P14, Q10, TP. Hồ Chí Minh</td>
            <td><a href="single-user.html"><i class="fas fa-info-circle"></i></a></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Trước</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Sau</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="copy_layout">
    <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/"
        target="_blank">W3layouts</a> </p>
  </div>
</div>